<div class="row-fluid" style="display:none" data-bind="visible: loginState.isUser">
    <button class="btn span4" id="btn_preheat" data-bind="click: preheat, enable: enablePreheat" title="Preheats the nozzle for the loaded gcode file.">Preheat</button>
</div>