<form class="form-horizontal">
	<div class="control-group">
		<legend>Enable Preheating</legend>
		<label class="control-label">Enable tool preheating</label>
		<div class="controls">
			<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.preheat.enable_tool">
		</div>
		<br>

		<label class="control-label">Enable bed preheating</label>
		<div class="controls">
			<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.preheat.enable_bed">
		</div>
		<br>

		<label class="control-label">Enable chamber preheating</label>
		<div class="controls">
			<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.preheat.enable_chamber">
		</div>
		<br>

		<label class="control-label">Max number of lines to look for preheat commands</label>
		<div class="controls">
			<input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: settings.plugins.preheat.max_gcode_lines">
		</div>
		<br><br>

		<legend>Fallback Temperatures</legend>
		<div>
			Fallback temperatures are used if the gcode file is on the SD card or if no heating command was found in the gcode file.
			Set these to 0 to not preheat in these cases.
		</div>

		<div class="preheat_settings_item">
			<label class="control-label preheat_long_label">Fallback temperature for tool preheating</label>
			<div class="input-append">
				<input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: settings.plugins.preheat.fallback_tool">
				<span class="add-on">&deg;</span>
			</div>
		</div>
		<br>
		<div class="preheat_settings_item">
			<label class="control-label preheat_long_label">Fallback temperature for bed preheating</label>
			<div class="input-append">
				<input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: settings.plugins.preheat.fallback_bed">
				<span class="add-on">&deg;</span>
			</div>
		</div>
		<br>
		<div class="preheat_settings_item">
			<label class="control-label preheat_long_label">Fallback temperature for chamber preheating</label>
			<div class="input-append">
				<input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: settings.plugins.preheat.fallback_chamber">
				<span class="add-on">&deg;</span>
			</div>
		</div>
		<label class="control-label preheat_long_label">Use fallback temperatures to preheat when no file is selected</label>
		<div class="controls">
			<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.preheat.use_fallback_when_no_file_selected">
		</div>
		<br><br>

		<legend>Temperature offsets</legend>
		<div>
			Temperature offsets are added to the initial temperatures in the gcode file in addition to the current temperature offsets configured in Octoprint. Use negative values to lower preheat temperatures. Does not affect fallback temperatures.
		</div>
		<div class="preheat_settings_item">
			<label class="control-label preheat_long_label">Nozzle temperature offset</label>
			<div class="input-append">
				<input type="number" step="1" onkeyup="if(this.value>50){this.value= 50}" max="50" class="input-mini text-right" data-bind="value: settings.plugins.preheat.offset_tool">
				<span class="add-on">&deg;</span>
			</div>
		</div>
		<br>
		<div class="preheat_settings_item">
			<label class="control-label preheat_long_label">Bed temperature offset</label>
			<div class="input-append">
				<input type="number" step="1" onkeyup="if(this.value>50){this.value= 50}" max="50" class="input-mini text-right" data-bind="value: settings.plugins.preheat.offset_bed">
				<span class="add-on">&deg;</span>
			</div>
		</div>
		<br>
		<div class="preheat_settings_item">
			<label class="control-label preheat_long_label">Chamber temperature offset</label>
			<div class="input-append">
				<input type="number" step="1" onkeyup="if(this.value>50){this.value= 50}" max="50" class="input-mini text-right" data-bind="value: settings.plugins.preheat.offset_chamber">
				<span class="add-on">&deg;</span>
			</div>
		</div>
		<br><br>
		
		<legend>Sequenced Preheating</legend>
		<div>
			Preheat bed and chamber first, heat printheads once the bed and chamber has
			reached its target temperature.
			If this option is disabled, the bed, chamber and printheads are heated right away.
			If you don't have a heated bed or chamber, this option makes no difference.
		</div>
		<label class="control-label">Enable</label>
		<div class="controls">
			<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.preheat.wait_for_bed">
		</div>
		<br> <br>
		<legend>Before Preheating</legend>
		<div class="preheat_settings_item">
			<label class="control-label">Send gcode</label>
			<div class="controls">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.preheat.on_start_send_gcode">
			</div>
			<label class="control-label">Commands</label>
			<div class="controls">
				<textarea class="input-block-level" data-bind="value: settings.plugins.preheat.on_start_send_gcode_command"></textarea>
			</div>
		</div>

		<br><br>
		<legend>After Preheating is complete</legend>
		<div class="preheat_settings_item">
			<label class="control-label">Show popup</label>
			<div class="controls">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.preheat.on_complete_show_popup">
			</div>
		</div>
		<div class="preheat_settings_item">
			<label class="control-label">Send gcode</label>
			<div class="controls">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.preheat.on_conplete_send_gcode">
			</div>
			<label class="control-label">Commands</label>
			<div class="controls">
				<textarea class="input-block-level" data-bind="value: settings.plugins.preheat.on_conplete_send_gcode_command"></textarea>
			</div>
		</div>
		
		<br><br>
		
		<legend>Use M109/M190/M191 commands</legend>
		<div>
			Use M109/M190/M191 commands to set the temperature in addition to the regular temperature commands.
			This will instruct the printer to wait until the temperature is reached and in turn will activate LEDs on some printers.
		</div>
		<label class="control-label">Enable</label>
		<div class="controls">
			<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.preheat.use_m109">
		</div>
		
		<br><br>

		<legend>Preheating on file select</legend>		
		<div>
			Automatically trigger preheating when a file is selected
		</div>
		<label class="control-label">Enable</label>
		<div class="controls">
			<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.preheat.preheat_on_file_select">
		</div>
		<br>
	</div>
</form>
