#touch body .progress-text-centered {
	margin-top: 60px !important;
}

#touch body #state .accordion-inner {
	padding-top: 45px !important;
}

.preheat_settings_item {
	overflow: auto;
}

.preheat_long_label {
	width: 300px !important;
	margin-right: 10px;
}