#touch body .progress-text-centered {
	top: calc(2.125rem + 90px) !important;
}

#touch body #state {
	padding-top: 155px !important;
}

.preheat_settings_item {
	overflow: auto;
}

.preheat_long_label {
	width: 300px !important;
	margin-right: 10px;
}